@font-face {
  font-family: Asap;
  src: url(../fonts/Asap/Asap-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: Asap-Bold;
  src: url(../fonts/Asap/Asap-Bold.ttf);
  font-display: swap;
}

$blue-0: #C8E4F1;
$blue-1: #00a4e4;
$blue-2: #0058AD;
$blue-3: #003263;

.active {
  pointer-events: none;
  // color: $blue-0;

  &::before{
    content: ":";
    padding-right: 1px;
  }
}
.hide{
  display: none;
}

*{box-sizing: border-box;}
h1,h2,h3,h4{margin: 0;padding: 0;padding-top: 16px;margin-block-start: 0;margin-block-end: 0;}

body {
  background-color: $blue-3;
  color: $blue-0;
  margin: 0;
  padding: 0;
  font-family: Asap, sans-serif;
  letter-spacing: 0.03em;

  a{
    color: $blue-1;

    &:visited,
    &:hover,
    &:focus{
      color: $blue-0;
    }
  }
}

hr {
  border-style: solid;
  border-color: $blue-1;
  border-width: 0.5px;
  display: none;
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $blue-1;
  box-shadow: 0 3px 10px $blue-3;
  padding: 8px;
  position: sticky;
  top: 0;
  border-radius: 0 0 8px 8px;
}
nav{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0 3px;
  width: 290px;
  margin: 0 auto;

  li{

    &.active{
      a{
        color: $blue-0;
      }
    }
    a{
      color: $blue-2;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 0.04em;
      text-decoration: none;

      &:visited:not(&.active){
        color: $blue-3;
      }
    }
  }
}
h1{
  color: $blue-2;
  font-size: 15px;
  padding: 0.5em 1em;
  text-align: center;
  max-width: 32em;
  margin: 0 auto;
}
article{
  padding: 16px;
  padding-top: 32px;
  border-bottom: 1px solid $blue-1;

  section{

    video,
    img{
      width: 100%;
      max-width: 530px;
    }
    button{
      color: $blue-3;
      background: $blue-1;
      border: none;
      border-radius: 8px;
      padding: 6px 14px;
      margin: 16px 0 8px;
      font-size: 14px;
      font-family: Asap, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.04em;

      &:focus,
      &:hover{
        color: $blue-1;
        background: $blue-2;
      }
    }
    h2{
      font-size: 16px;
      color: $blue-1;
      text-transform: uppercase;
    }
    h3{
      font-size: 32px;
      font-weight: normal;
      text-transform: capitalize;
    }
    h4{
      border-top: 1px solid $blue-1;
      padding: 1em 0 0;
      text-transform: uppercase;
    }
    p{
      font-size: 16px;
      line-height: 1.35;
    }
    &.scope p{
      color: $blue-1;
    }
  }
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $blue-2;
  position: sticky;
  bottom: 0;

  p{
    font-size: 12px;
    color: $blue-1;
    padding: 0 8px;
  }

  nav{
    width: 100px;
    padding: 8px 0 8px 8px;
    margin: 0;

    li{
      width: 20px;
      height: 20px;
      overflow: hidden;

      a{
        color: $blue-1;

        &:focus,
        &:hover{
          color: $blue-0;
        }
        &:visited{
          color: $blue-3;
        }

        svg{
          fill: currentColor;
        }
      }
    }
  }
}

@media (min-width:"768px") {
  header{
    nav{
      width: 45%;
    }
  }
  section{
    max-width: 530px;
    margin: 0 auto;
  }

}
@media (min-width:"930px") {
  section{
    max-width: 530px;
    margin: 0 auto;
  }

}