$blue-0: #C8E4F1;
$blue-1: #00a4e4;
$blue-2: #0058AD;
$blue-3: #003263;
$blue-4: #83DDFF;

.active {
  pointer-events: none;
  // color: $blue-0;

  &::before{
    content: ":";
    padding-right: 1px;
  }
}
.hide{
  display: none;
}

*{box-sizing: border-box;}
h1,h2,h3,h4{margin: 0;padding: 0;padding-top: 16px;margin-block-start: 0;margin-block-end: 0;}

body {
  background-color: $blue-3;
  color: $blue-0;
  margin: 0;
  padding: 0;
  letter-spacing: 0.03em;

  a{
    color: $blue-1;
    text-decoration: none;
    
    &:before{content:"<"}
    &:after{content:">"}

    &:visited{
      color: $blue-2;
    }
    &:hover,
    &:focus{
      color: $blue-0;
    }
  }
}

hr {
  border-style: solid;
  // border-color: $blue-1;
  border-color: rgba(255,255,255,0.5);
  border-width: 0.5px;
  display: none;
}
header,
footer{
  background-color: $blue-2;
  border-top: 1px solid rgba(0,164,228,0.35);
  border-bottom: 3px solid rgba(0,50,99,0.35);
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // background-color: $blue-1;
  box-shadow: 0 3px 10px $blue-3;
  // padding: 8px;
  padding: 10px;
  position: sticky;
  top: 0;
  border-radius: 0 0 10px 10px;
  }
nav{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  // padding: 0 3px;
  width: 290px;
  margin: 0 auto;

  li{
    a{
      color: $blue-4;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      
      &:before{content:""}
      &:after{content:""}

      &:visited{
        color: $blue-3;
      }
      &:hover,
      &:active{
        color: $blue-0;
      }
    }
    &.active{
      a{
        color: $blue-0;
      }
    }
  }
}
h1{
  color: $blue-1;
  // font-size: 15px;
  font-size: 0.9em;
  font-weight: 400;
  padding: 0.5em 1em;
  text-align: center;
  // max-width: 32em;
  margin: 0 auto;
}
article{
  padding: 16px;
  padding-top: 32px;
  // border-bottom: 1px solid $blue-2;
  // border-top: 1px solid $blue-2;
  // border-top: 1px solid $blue-1;
  // border-bottom: 1px solid rgba(255,255,255,0.5);
  // border-top: 2px solid rgba(0,0,0,0.35);
  border-bottom: 2px solid rgba(0,0,0,0.35);
  
  section{

    &.story,
    &.scope,
    &.process,
    &.results,
    video,
    img{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      display: block;
    }
    button{
      color: $blue-3;
      background: $blue-1;
      border: 1px solid $blue-1;
      border-radius: 8px;
      padding: 6px 14px;
      margin: 16px 0 8px;
      // font-size: 13px;
      font-size: 0.85em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.04em;

      &:focus,
      &:hover{
        color: $blue-1;
        background: none;
        border: 1px solid $blue-1;
      }
    }
    h2{
      font-size: 1em;
      font-weight: 400;
      color: $blue-1;
    }
    h3{
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px $blue-3, 2px 2px 1px $blue-4;
      // text-shadow: 1px 1px 1px $blue-3, 2px 2px 1px $blue-2;
      // text-shadow: 0 0 2px $blue-0;
      // text-shadow: 0 0 2px $blue-4;
      // text-shadow: 0 0 1px $blue-4;
      letter-spacing: 0.05em;
    }
    h4{
      border-top: 1px solid $blue-2;
      padding: 1em 0 0;
      text-transform: uppercase;
    }
    p{
      // font-size: 16px;
      font-size: 1em;
      line-height: 1.35;
    }
    &.scope p{
      color: $blue-1;
    }
  }
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $blue-2;
  // border-top: 2px solid rgba(0,0,0,0.35);
  // border-bottom: 1px solid $blue-1;
  border-radius: 10px 10px 0 0;
  position: sticky;
  bottom: 0;

  p{
    // font-size: 12px;
    font-size: 0.75em;
    color: $blue-4;
    padding: 0 8px;
  }

  nav{
    width: 100px;
    padding: 8px 0 8px 8px;
    margin: 0;

    li{
      width: 20px;
      height: 20px;
      overflow: hidden;

      a{
        color: $blue-4;

        &:focus,
        &:hover{
          color: $blue-0;
        }
        &:visited{
          color: $blue-3;
        }

        svg{
          fill: currentColor;
        }
      }
    }
  }
}

@media (min-width:"768px") {
  header{
    justify-content: center;
    img{
      // margin-left: 20%;
    }
    nav{
      // width: 30%;
      width: 40%;
      margin: 0;
    }
    .content{
      width: 600px;
    }
  }
  // section{
  //   max-width: 530px;
  //   margin: 0 auto;
  // }

}
@media (min-width:"910px") {
  header{
    .content{
      display: flex;
      justify-content: end;
      margin: 0 auto;
      width: 910px;
      // width: 600px;
    }
    
    nav{
      width: 33%;
      padding: 0;
      margin: 1% 1% 1% 3%;
      justify-content: space-between;
    }
    img{
      width: 250px;
    }
  }
  h1{
    text-align: left;
    margin: 0 auto;
    max-width: 910px;
    padding-left: 10px;
    padding-right: 10px;
  }
  article{
    section{
      
      img,video{
        // width: 600px;
        max-width: 65%;
        margin: 0;
      }
      .story{
        // width: 300px;
        // width: 28%;
        // width: 27%;
        width: 30%;
        margin: 0;
        align-self: flex-end;
        
        p{
          margin-bottom: 0;
        }
      }
      &.scope,
      &.process,
      &.results{
        // width: 300px;
        width: 30%;
        margin: 0;
      }

    }
    .top,.bottom{
      display: flex;
      // justify-content: space-evenly;
      justify-content: space-between;
      align-items: end;
      margin: 0 auto;
      max-width: 910px;
    }
    .bottom{
      align-items: start;
      padding-top: 1em;
    }
  }

}