@font-face {
  font-family: Asap;
  src: url(../fonts/Asap/Asap-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: Asap-Bold;
  src: url(../fonts/Asap/Asap-Bold.ttf);
  font-display: swap;
}

$blue-0: #C8E4F1;
$blue-1: #00a4e4;
$blue-2: #0058AD;
$blue-3: #003263;

.active {
  pointer-events: none;
  // color: $blue-0;

  &::before{
    content: ":";
    padding-right: 1px;
  }
}

body {
  // background-color: $blue-2;
  background-color: $blue-3;
  color: $blue-0;
  margin: 0;
  padding: 0;
  font-family: Asap, sans-serif;
}

hr {
  border-style: solid;
  border-color: $blue-1;
  border-width: 0.5px;
  display: none;
}
header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $blue-1;
  box-shadow: 0 3px 10px $blue-3;
  padding: 8px;
  position: sticky;
  top: 0;
  border-radius: 0 0 8px 8px;
}
nav{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0 3px;
  width: 100%;

  li{

    &.active{
      a{
        color: $blue-0;
      }
    }
    a{
      color: $blue-2;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: bold;
      // font-family: Asap-bold, serif;
      letter-spacing: 0.04em;
      text-decoration: none;

      &:visited:not(&.active){
        color: $blue-3;
      }
    }
  }
}
article{
  padding: 16px;
  padding-top: 32px;
  border-bottom: 1px solid $blue-1;

  section{

    img{
      width: 100%;
    }
  }
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // background-color: $blue-3;
  background-color: $blue-2;
  position: sticky;
  bottom: 0;

  p{
    font-size: 12px;
    color: $blue-1;
    padding: 0 8px;
  }

  nav{
    width: 40%;
    padding: 8px 0 8px 8px;

    li{
      width: 20px;
      height: 20px;
      overflow: hidden;

      a{
        color: $blue-1;

        &:focus,
        &:hover{
          color: $blue-0;
        }
        &:visited{
          color: $blue-3;
        }

        svg{
          fill: currentColor;
        }
      }
    }
  }
}

@media (min-width:"768px") {
  header{
    nav{
      width: 45%;
    }
  }

}