---
title: error
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>omnio.us {{title}} - web design and development</title>
    <style>body{
      font-family:sans-serif;}</style>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <!-- theme switch -->
    <!-- <input type="checkbox" id="theme" checked /> <label class="toggle-switch" for="theme"> <div class="toggle-screenreader">Theme switcher</div> <span> <span class="icon moon">dark</span> <span class="icon sun">light</span> </span> </label> -->
    <!-- theme switch end -->

    {% include header.html %}

    <main>
      <h1>Even functional and beautiful websites can return errors.</h1>
      <article>
        <section class="top">
          <img src="/img/530w/argumentation.jpg" alt="'Argumentation' illustration by Ornette omniosi Coleman" />
          <section class="story">
            <h2>Error</h2>
            <h3>404</h3>
            <p>
              There has been an error.
            </p>
          </section>
        </section>
        <div class="bottom">
          <section class="scope">
            <h4>Scope</h4>
            <p>Unknown</p>
          </section>
          <section class="process">
            <h4>Process</h4>
            <p>
              Unknown</a>.
            </p>
          </section>
          <section class="results">
            <h4>Results</h4>
            <p>
              Please start back at the <a href='/index.html' rel='noopener'>home page</a>.
            </p>
          </section>
        </div>
        <hr />
      </article>

    </main>

    {% include footer.html %}
  </body>
</html>
