---
title: development
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>omnio.us {{title}} - web design and development</title>
    <style>body{
      font-family:sans-serif;}</style>
  <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- theme switch -->
    <!-- <input type="checkbox" id="theme" checked />
    <label class="toggle-switch" for="theme">
      <div class="toggle-screenreader">Theme switcher</div>
      <span>
        <span class="icon moon">dark</span>
        <span class="icon sun">light</span>
      </span>
    </label> -->
    <!-- theme switch end -->

    {% include header.html %}

    <main>
      <h1>Ornette Coleman designs beautiful websites that are accessible to all and easy to use.</h1>
      {% for job in dev.jobs %}
      <article>
        <section class="top">
          {% if job.image %}
          <img src="{{job.image.src}}" alt="{{job.image.alt}}" />
          {% endif %}
          {% if job.video %}
          <video class="hide" autoplay loop poster="{{job.video.poster}}">
            {% for source in job.video.source %}
            <source src="{{source.src}}"
                    type="{{source.type}}">
            {% endfor %}
            {{job.video.alt}} - Sorry, your browser doesn't support embedded videos.
          </video>
          {% endif %}

          <section class="story">
            {% if job.video %}
            <button onclick="playVideo(this)" class="play">Play Video</button>
            <button onclick="stopVideo(this)" class="stop hide">Stop Video</button>
            {% endif %}

            <h2>{{job.brand}}</h2>
            <h3>{{job.title}}</h3>
            <p>
              {{job.story}}
            </p>
          </section>
        </section>
        <div class="bottom">
          
        <section class="scope">
          <h4>Scope</h4>
          <p>{{job.type}}</p>
        </section>
        <section class="process">
          <h4>Process</h4>
          <p>
            {{job.process}}
          </p>
        </section>
        <section class="results">
          <h4>Results</h4>
          <p>
            {{job.results}}
          </p>
        </section>
        </div>
        <hr />
      </article>
      {% endfor %}
    </main>

    {% include footer.html %}
    <script src="./js/script.js"></script>
  </body>
</html>
