---
title: development
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>omnio.us {{title}} - web design and development</title>
  </head>
  <body>
    <!-- theme switch -->
    <!-- <input type="checkbox" id="theme" checked />
    <label class="toggle-switch" for="theme">
      <div class="toggle-screenreader">Theme switcher</div>
      <span>
        <span class="icon moon">dark</span>
        <span class="icon sun">light</span>
      </span>
    </label> -->
    <!-- theme switch end -->

    <!-- <div id="app"></div> -->
    <!-- built files will be auto injected -->

    <header>
      <img src="./img/menu/omnio_us-logo.png" alt="omnio.us logo" />
      <nav>
        {% for post in Collections.all %}
        <li><a href="{{post.url}}">post.url = {{post.url}}</a></li>
        {% endfor %}
        <li><a href="index.html" class="active">development</a></li>
        <li><a href="design.html">design</a></li>
        <li><a href="art">art</a></li>
      </nav>
    </header>
    <hr />
    <main>
      {% for job in dev.jobs %}
      <article>
        <section class="top">
          <!-- <img
            src="./img/canon-imagina10n-takeover.png"
            alt="Canon Imagina10n homepage takeover"
          /> -->
          {% if job.video %}
          <img src="{{job.video.poster}}" alt="{{job.video.alt}}" />
          {% endif %} {% if job.image %}
          <img src="{{job.image.src}}" alt="{{job.image.alt}}" />
          {% endif %}

          <section class="story">
            <h1>{{job.title}}</h1>
            <h2>{{job.brand}}</h2>
            <p>
              {{job.story}}
            </p>
          </section>
        </section>
        <section class="description">
          <h1>Description</h1>
          <p>{{job.type}}</p>
        </section>
        <section class="process">
          <h1>Process</h1>
          <p>
            {{job.process}}
          </p>
        </section>
        <section class="results">
          <h1>Results</h1>
          <p>
            {{job.results}}
          </p>
        </section>
        <hr />
      </article>
      {% endfor %}
    </main>
    <footer>
      <input
        type="checkbox"
        name="footer theme select"
        id="ft-select"
        checked
      />
      <label for="ft-select">Dark theme</label>
      <p>©2020 Ornette Coleman</p>
      <nav>
        <li class="resume">
          <a href="#resume">
            resume
          </a>
        </li>
        <li class="linkedin">
          <a href="#linkedin">
            linkedin
          </a>
        </li>
        <li class="github">
          <a href="#github">
            github
          </a>
        </li>
      </nav>
    </footer>
  </body>
</html>
