<footer>
  <!-- theme switch - new -->
  <!-- <input type="checkbox" name="footer theme select" id="ft-select" checked /> -->
  <!-- <label for="ft-select">Dark theme</label> -->

  <!-- theme switch -->
  <!-- <input type="checkbox" id="theme" checked />
<label class="toggle-switch" for="theme">
  <div class="toggle-screenreader">Theme switcher</div>
  <span>
    <span class="icon moon">dark</span>
    <span class="icon sun">light</span>
  </span>
</label> -->
  <!-- theme switch end -->

  <p>©2020 Ornette Coleman</p>
  <nav>
    <li>
      <a class="resume" href="#resume">
        resume
      </a>
    </li>
    <li>
      <a class="linkedin" href="#linkedin">
        linkedin
      </a>
    </li>
    <li>
      <a class="github" href="#github">
        github
      </a>
    </li>
  </nav>
</footer>
